In [14]:
import yaml
import mysql.connector
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns






import warnings
warnings.filterwarnings('ignore')
with warnings.catch_warnings():
    warnings.simplefilter("ignore")

In [12]:
# Load the YAML file
with open("D:\Telangana_Growth_Analysis\db_config.yaml", 'r') as file:
    db_config = yaml.safe_load(file)

# Connect to the database
connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()

In [15]:
# Define your query
query = "SELECT * FROM dim_date"

# Use pandas to run the query and store the result in a DataFrame
df = pd.read_sql(query, connection)

# Display the first few rows of the DataFrame
df.head()

        month  mmm quarter  fiscal_year
0  2019-04-01  Apr      Q1         2019
1  2019-05-01  May      Q1         2019
2  2019-06-01  Jun      Q1         2019
3  2019-07-01  Jul      Q2         2019
4  2019-08-01  Aug      Q2         2019